@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Quicksand", Arial, Helvetica, sans-serif;
  --font-manrope: "Manrope", Arial, Helvetica, sans-serif;
}

body {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
}
