@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Quicksand', Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
